@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nosifer&family=Playfair+Display:ital@1&display=swap');
.mainContainer {
   height: 650px;
   width: 100%;
   display: flex;
   align-items: center;
}

.window {
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.allPagesContainer {
   height: 100%;
   display: flex;
   transition: translate;
   transition-property: transform;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
}

.arrow {
   cursor: pointer;
}

.item1 {
   background: url('../../images/salon.png') center / cover no-repeat;
}

.item2 {
   background: url('../../images/salon_paint.png') center / cover no-repeat;
}

.item3 {
   background: url('../../images/woman_under_water.png') center / cover no-repeat;
}

.item4 {
   background: url('../../images/woman_drawing.png') center / cover no-repeat;
}

.item5 {
   background: url('../../images/woman_front_mirror.png') center / cover no-repeat;
}

.redTintBackground {
   /* background: rgba(255, 0, 0, 0.22); */
   height: 100%;
   width: 100%;
   display: flex;
}

.darkBackground {
   background: rgba(0, 0, 0, 0.55);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: start;
}

.right {
   justify-content: end;
   text-align: right;
}

.itemContent {
   background: rgb(0 0 0 / 62%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 35%;
   height: 100%;
   padding: 15px;
   min-width: 550px;
}

.itemContent p {
   color: #FFF;
   font-family: 'Playfair Display', sans-serif;
   font-style: italic;
   font-size: 64px;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 10px;
}

@media(max-width: 1082px) {
   .itemContent {
      min-width: 480px;
   }

   .itemContent p {
      font-size: 55px;
   }
}

@media(max-width: 947px) {
   .itemContent {
      min-width: 398px;
   }

   .itemContent p {
      font-size: 45px;
   }
}

@media(max-width: 763px) {
   .itemContent {
      min-width: 311px;
   }

   .itemContent p {
      font-size: 35px;
   }
}

@media(max-width: 602px) {
   .itemContent {
      width: 100%;
      justify-content: end;
      min-width: 239px;
   }

   .itemContent p {
      font-size: 25px;
      text-align: center;
   }

   .mainContainer {
      height: 500px;
   }

   .darkBackground {
      background: rgba(0, 0, 0, 0);
   }
}