

.contacts__addres::before {
   content: '';
   display: inline-block;
   background: url('../public/location_icon.svg') center no-repeat;
   width: 17px;
   height: 17px;
   margin-right: 10px;
}

.contacts__time::before {
   content: '';
   display: inline-block;
   background: url('../public/time_clock_icon.svg') center no-repeat;
   width: 17px;
   height: 17px;
   margin-right: 10px;
}