.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header__container {
   background: rgb(175 134 255);
}

.contacts__item {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   flex-wrap: wrap;
}

.dvider {
   background-color: #434343;
   width: 1px;
   height: 60%;
   margin: 0 15px;
}

.header__contacts {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   flex-wrap: wrap;
}

.before-icon {
   display: flex;
   align-items: center;
   margin: 0 15px;
}

.before-icon::before {
   content: '';
   display: inline-block;
   width: 17px;
   height: 17px;
   margin-right: 5px;
}

.contacts__addres::before {
   background: url('/src/icons/location_icon.svg') center no-repeat;
}

.contacts__time::before {
   background: url('/src/icons/time_clock_icon.svg') center no-repeat;
}

.contacts__phone:hover {
   text-decoration: underline;
}

.contacts__phone::before {
   background: url('/src/icons/call_icon.svg') center no-repeat;
}

.contacts__social {
   display: flex;
   cursor: pointer;
}

.whatsapp::before,
.telegram::before {
   content: '';
   display: inline-block;
   width: 17px;
   height: 17px;
   margin-right: 5px;
}

.whatsapp::before {
   background: url('/src/icons/whatsapp_icon.svg') center no-repeat;
   width: 30px;
   height: 30px;
}

.telegram::before {
   background: url('/src/icons/telegram_icon.svg') center no-repeat;
   width: 30px;
   height: 30px;
}

.contacts__vk {
   background-color: #5181b8;
   border-radius: 15px;
   color: #fff;
   padding: 10px 20px;
   font-weight: 700;
   display: flex;
   align-items: flex-end;
}

.contacts__vk::before {
   background: url('/src/icons/vk_icon.svg') center no-repeat;
}

@media (max-width: 942px) {
   .header__contacts {
      justify-content: center;
   }

   .header__contacts .contacts__item:first-child {
      margin-bottom: 15px;
   }
}

@media (max-width: 482px) {
   .dvider {
      display: none;
   }
}

@media (max-width: 358px) {
   .before-icon {
      margin: 0;
   }

   .contacts__phone_numbers {
      margin: 0 15px;
   }
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.brand {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 10px;
   flex-wrap: wrap;
}

/* .logotype__img {
   background: url('../public/logo.svg');
   width: 70px;
   height: 70px;
   margin-right: 20px;
} */
.logotype__img {
   width: 70px;
   height: 70px;
   margin-right: 20px;
}

.brand__item {
   display: flex;
   align-items: center;
}

.logotype {
   align-items: end;
}

.logotype__title {
   font-size: 30px;
}

.logotype__subtitle,
.logotype__subtitle-white {
   font-size: 13px;
   text-align: center;
}

.logotype__subtitle::before, 
.logotype__subtitle::after  {
   content: '';
   width: 20px;
   height: 2px;
   display: inline-block;
   background-color: #000000;
}

.logotype__subtitle-white::before,
.logotype__subtitle-white::after {
   content: '';
      width: 20px;
      height: 2px;
      display: inline-block;
   background-color: #ffffff;
}

.quote {
   flex-direction: column;
   justify-content: start;
   margin: 20px 20px 30px;
}

.quote__title {
   margin-bottom: 10px;
   font-style: italic;
   font-size: 35px;
}

.quote__title::before, .quote__title::after {
   content: '';
   width: 20px;
   height: 20px;
   display: inline-block;
}

.quote__title::before {
   background: url('/src/icons/double_quotes_left.svg') center no-repeat;
}

.quote__title::after {
   background: url('/src/icons/double_quotes_right.svg') center no-repeat;
}

.quote__subtitle  {
   color: #4a4a4a;
   font-size: 16px;
}

.signup {
   flex-direction: column;
}

.signup button,
.signup a {
   display: block;
   border: 1px solid #5B3CF0;
   padding: 15px 30px;
   border-radius: 15px;
   font-size: 24px;
   font-weight: 700;
   width: 100%;
   text-align: center;
   height: 69px;
}

.signup__online {
   background-color: #5B3CF0;
   color: #fff;
   margin-bottom: 10px;
}

.signup__call {
   color: #5B3CF0;
}

@media (max-width: 863px) {
   .brand {
      flex-direction: column;
   }

   .quote {
      margin: 20px 0;
   }
}

@media (max-width: 447px) {
   .quote__title {
      font-size: 30px;
   }

   .quote__subtitle {
      font-size: 15px;
   }
}

@media (max-width: 397px) {
   .quote__title {
      font-size: 25px;
   }

   .quote__subtitle {
      font-size: 14px;
      text-align: center;
   }

   .quote__subtitle br {
      display: none;
   }
}

@media (max-width: 307px) {
   .quote__title {
      font-size: 20px;
   }

   .quote__subtitle {
      font-size: 13px;
   }
   
   
}